.box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 100vh;
    padding: 30px;
    text-align: justify;
}

.text {
  font-size: 1.3em;
  font-weight: bold;
  text-indent: 35px;
  line-height: 1.5;
  margin-bottom: 45px;
}

.sourse {
    font-family: 'PT Serif', serif;
}

.light {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
}